.header{
    -fx-background-color: #BED7DC; /* Header color */
}


.button {
    -fx-background-color: #E5DDC5; /* Button color */
    -fx-background-radius: 0; /* Rounded corners */
    -fx-margin: 10px; /* Add a 10px margin around each button */
    -fx-border-color: #E5DDC5; /* Border color */
    -fx-border-width: 0; /* Border width */
    -fx-text-fill: #FFFFFF; /* Text color */
    -fx-font-size: 16px; /* Text size */
    -fx-padding: 10 20; /* Padding around text */
    -fx-min-width: 0; /* Minimum button width */
    -fx-max-width: Infinity; /* Maximum button width */
    -fx-min-height: 0; /* Minimum button height */
    -fx-max-height: Infinity; /* Maximum button height */
}

.button:hover {
    -fx-background-color: #F1EEDC; /* Button color when hovered */
}

.button:pressed {
    -fx-background-color: #E5DDC5; /* Button color when pressed */
}


.menu-button {
    -fx-background-color: transparent; /* No background color */
    -fx-background-image: url('../Images/icon.png'); /* Replace 'icon.png' with the path to your icon */
    -fx-background-repeat: no-repeat; /* The image should not repeat */
    -fx-background-position: center; /* The image should be centered */
    -fx-background-size: contain; /* The image should scale to fit the button */
    -fx-text-fill: transparent; /* No text color */
    -fx-border-width: 0; /* No border */
    -fx-padding: 10; /* Padding around the icon */
    -fx-font-size: 20px; /* Increase text size */
    -fx-font-weight: bold; /* Make text bold */
}



.menu-button:pressed {
    -fx-background-color: rgba(0, 0, 0, 0.2); /* Slight press effect */
}

.menu-button .arrow {
    -fx-shape: none;
    -fx-background-color: none;
}


.login_button{
    -fx-background-color: transparent; /* No background color */
    -fx-background-image: url('../Images/login.png'); /* Replace 'icon.png' with the path to your icon */
    -fx-background-repeat: no-repeat; /* The image should not repeat */
    -fx-background-position: center; /* The image should be centered */
    -fx-background-size: contain; /* The image should scale to fit the button */
    -fx-text-fill: transparent; /* No text color */
    -fx-border-width: 0; /* No border */
    -fx-padding: 10; /* Padding around the icon */
    -fx-font-size: 20px; /* Increase text size */
    -fx-font-weight: bold; /* Make text bold */

}

.login_button:pressed {
    -fx-background-color: rgba(0, 0, 0, 0.2); /* Slight press effect */
}

.login_button .arrow {
    -fx-shape: none;
    -fx-background-color: none;
}

