.header{
    -fx-background-color: #B3C8CF; /* Header color */
}


.button {
    -fx-background-color: #E5DDC5; /* Button color */
    -fx-background-radius: 0; /* Rounded corners */
    -fx-margin: 10px; /* Add a 10px margin around each button */
    -fx-border-color: #E5DDC5; /* Border color */
    -fx-border-width: 0; /* Border width */
    -fx-text-fill: #FFFFFF; /* Text color */
    -fx-font-size: 16px; /* Text size */
    -fx-padding: 10 20; /* Padding around text */
    -fx-min-width: 0; /* Minimum button width */
    -fx-max-width: Infinity; /* Maximum button width */
    -fx-min-height: 0; /* Minimum button height */
    -fx-max-height: Infinity; /* Maximum button height */
}

.button:hover {
    -fx-background-color: #F1EEDC; /* Button color when hovered */
}

.button:pressed {
    -fx-background-color: #E5DDC5; /* Button color when pressed */
}


.menu-button {
    -fx-background-color: transparent; /* No background color */
    -fx-background-image: url('../Images/icon.png'); /* Replace 'icon.png' with the path to your icon */
    -fx-background-repeat: no-repeat; /* The image should not repeat */
    -fx-background-position: center; /* The image should be centered */
    -fx-background-size: contain; /* The image should scale to fit the button */
    -fx-text-fill: transparent; /* No text color */
    -fx-border-width: 0; /* No border */
    -fx-padding: 10; /* Padding around the icon */
    -fx-font-size: 20px; /* Increase text size */
    -fx-font-weight: bold; /* Make text bold */
}



.menu-button:pressed {
    -fx-background-color: rgba(0, 0, 0, 0.2); /* Slight press effect */
}

.menu-button .arrow {
    -fx-shape: none;
    -fx-background-color: none;
}

.menu-button:hover {
    -fx-background-color: #F1EEDC;
    -fx-scale-y: 0.4; /* Imposta la scala in altezza a 0.4 quando il mouse vi passa sopra */
}


.login_button{
    -fx-background-color: transparent; /* No background color */
    -fx-background-image: url('../Images/login.png'); /* Replace 'icon.png' with the path to your icon */
    -fx-background-repeat: no-repeat; /* The image should not repeat */
    -fx-background-position: center; /* The image should be centered */
    -fx-background-size: contain; /* The image should scale to fit the button */
    -fx-text-fill: transparent; /* No text color */
    -fx-border-width: 0; /* No border */
    -fx-padding: 10; /* Padding around the icon */
    -fx-font-size: 20px; /* Increase text size */
    -fx-font-weight: bold; /* Make text bold */

}

.login_button:pressed {
    -fx-background-color: rgba(0, 0, 0, 0.2); /* Slight press effect */
}

.login_button .arrow {
    -fx-shape: none;
    -fx-background-color: none;
}


.login_button:hover {
    -fx-background-color: #F1EEDC;
    -fx-scale-y: 0.4; /* Imposta la scala in altezza a 0.4 quando il mouse vi passa sopra */
}


.image:hover {
    -fx-scale-x: 1.1; /* Ingrandisci l'elemento del 10% in larghezza quando il mouse vi passa sopra */
    -fx-scale-y: 1.1; /* Ingrandisci l'elemento del 10% in altezza quando il mouse vi passa sopra */
    /*-fx-rotate: 5; /* Ruota l'elemento di 5 gradi quando il mouse vi passa sopra */
}

.image {
    -fx-scale-x: 1; /* Riporta l'elemento alla dimensione originale in larghezza quando il mouse non è più sopra */
    -fx-scale-y: 1; /* Riporta l'elemento alla dimensione originale in altezza quando il mouse non è più sopra */
    -fx-rotate: 0; /* Riporta l'elemento alla rotazione originale quando il mouse non è più sopra */
    -fx-transition: scale 2s ease-in-out, rotate 2s ease-in-out; /* Aggiungi una transizione alle proprietà scale e rotate che dura 1 secondo */
}