.banner {
    -fx-padding: 20px;
    -fx-margin-bottom: 20px;
    -fx-border-radius: 10px;
    -fx-border-color: white;
    -fx-background-color: #B3C8CF;
    -fx-border-width: 5px;
}

.banner .marca-modello {
    -fx-font-family: "Arial";
    -fx-font-size: 20px;
    -fx-font-weight: bold;
    -fx-text-fill: #000000;
}

.banner .prezzo {
    -fx-font-family: "Arial";
    -fx-font-size: 18px;
    -fx-text-fill: #ff0000;
}

.banner .descrizione {
    -fx-font-family: "Arial";
    -fx-font-size: 16px;
    -fx-text-fill: #000000;
}

.header{
    -fx-background-color: #B3C8CF; /* Header color */
}


.button {
    -fx-background-color: #E5DDC5; /* Button color */
    -fx-background-radius: 0; /* Rounded corners */
    -fx-margin: 10px; /* Add a 10px margin around each button */
    -fx-border-color: #E5DDC5; /* Border color */
    -fx-border-width: 0; /* Border width */
    -fx-text-fill: #FFFFFF; /* Text color */
    -fx-font-size: 16px; /* Text size */
    -fx-padding: 10 20; /* Padding around text */
    -fx-min-width: 0; /* Minimum button width */
    -fx-max-width: Infinity; /* Maximum button width */
    -fx-min-height: 0; /* Minimum button height */
    -fx-max-height: Infinity; /* Maximum button height */
}

.button:hover {
    -fx-background-color: rgba(241, 238, 220, 0.51); /* Button color when hovered */
}

.button:pressed {
    -fx-background-color: #E5DDC5; /* Button color when pressed */
}


.menu-button {
    -fx-background-color: transparent; /* No background color */
    -fx-background-image: url('../Images/icon.png'); /* Replace 'icon.png' with the path to your icon */
    -fx-background-repeat: no-repeat; /* The image should not repeat */
    -fx-background-position: center; /* The image should be centered */
    -fx-background-size: contain; /* The image should scale to fit the button */
    -fx-text-fill: transparent; /* No text color */
    -fx-border-width: 0; /* No border */
    -fx-padding: 10; /* Padding around the icon */
    -fx-font-size: 20px; /* Increase text size */
    -fx-font-weight: bold; /* Make text bold */
}



.menu-button:pressed {
    -fx-background-color: rgba(0, 0, 0, 0.2); /* Slight press effect */
}


.menu-button:hover {
    -fx-background-color: rgba(241, 238, 220, 0.68);
    -fx-scale-y: 0.4; /* Imposta la scala in altezza a 0.4 quando il mouse vi passa sopra */
}


.login_button{
    -fx-background-color: transparent; /* No background color */
    -fx-background-image: url('../Images/login.png'); /* Replace 'icon.png' with the path to your icon */
    -fx-background-repeat: no-repeat; /* The image should not repeat */
    -fx-background-position: center; /* The image should be centered */
    -fx-background-size: contain; /* The image should scale to fit the button */
    -fx-text-fill: transparent; /* No text color */
    -fx-border-width: 0; /* No border */
    -fx-padding: 10; /* Padding around the icon */
    -fx-font-size: 20px; /* Increase text size */
    -fx-font-weight: bold; /* Make text bold */

}

.login_button:pressed {
    -fx-background-color: rgba(0, 0, 0, 0.2); /* Slight press effect */
}



.login_button:hover {
    -fx-background-color: rgba(241, 238, 220, 0.68);
    -fx-scale-y: 0.4; /* Imposta la scala in altezza a 0.4 quando il mouse vi passa sopra */
}



.image {
    -fx-scale-x: 1; /* Imposta la scala in larghezza a 1 */
    -fx-scale-y: 1; /* Imposta la scala in altezza a 1 */
    -fx-transition: all 0.5s ease; /* Aggiungi un effetto di transizione a tutte le proprietà */
}

.image:hover {
    -fx-scale-x: 1.1; /* Ingrandisci l'immagine del 20% in larghezza quando il mouse vi passa sopra */
    -fx-scale-y: 1.1; /* Ingrandisci l'immagine del 20% in altezza quando il mouse vi passa sopra */
    -fx-transition: all 0.5s ease
}


.footer{
    -fx-background-color: #B3C8CF; /* Footer color */
    -fx-padding: 10px; /* Add a 10px padding around the footer */
    -fx-text-fill: #FFFFFF; /* Text color */
    -fx-font-size: 14px; /* Text size */
    -fx-font-weight: bold; /* Make text bold */
    -fx-alignment: center; /* Center text */

}

.login_label{
    -fx-font-family: "Arial";  /* Sostituisci con il nome del tuo font preferito */
    -fx-font-size: 23px;  /* Aumenta la dimensione del font */
    -fx-text-fill: #ffffff;  /* Cambia il colore del testo a nero */
    -fx-font-weight: bold;  /* Rendi il testo in grassetto */
}

.login_textfield{
    -fx-font-family: "Arial";  /* Sostituisci con il nome del tuo font preferito */
    -fx-font-size: 14px;  /* Aumenta la dimensione del font */
    -fx-text-fill: #000000;  /* Cambia il colore del testo a nero */
    -fx-background-color: #E5DDC5;  /* Cambia il colore di sfondo per abbinarlo al tuo menu slider */
    -fx-border-color: #ffffff;  /* Cambia il colore del bordo a nero */
    -fx-border-radius: 5px;  /* Aggiungi un po' di arrotondamento ai bordi */
    -fx-padding: 10px;  /* Aggiungi un po' di spazio intorno al testo all'interno del TextField */
}


.data_label {
    -fx-text-fill: white; /* Colore del testo */
    -fx-font-size: 14px; /* Dimensione del testo */
    -fx-font-family: "Arial"; /* Tipo di carattere */
}
